# saved in /etc/my.cnf

[mysqld]
# write out slow queries
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mariadb-slow.log

# bind address to host machine's internal IP. use this when connecting
# to this server from other machines on the network.
#bind-address = eth1.ip.address

# disable files from being loaded
local-infile = 0

# disable displaying list of databases
#skip-show-database

[mysql]
local-infile = 0